<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create new formality</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" name="title" id="title" [(ngModel)]="title" placeholder="Formality title">
                <select name="formalitytype" [(ngModel)]="formalitytype" id="formalitytype">
                    <option value="Buy a product">Buy a product</option>
                    <option value="Request a service">Request a service</option>
                    <option value="Incidence to IT department">Incidence to IT department</option>
                </select>
                <textarea name="formalitybody" id="formalitybody" [(ngModel)]="formalitybody" cols="30" rows="10"></textarea>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveFormality()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<p [(ngModel)]="respuesta"></p>