<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content formBx">
            <form>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create new formality</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <input type="text" name="title" id="title" [(ngModel)]="title" placeholder="Formality title" required>
                    <label for="formalitytype">Select a type of formality:</label>
                    <select name="formalitytype" [(ngModel)]="formalitytype" id="formalitytype" required>
                        <option value="Buy a product"selected="select">Buy a product</option>
                        <option value="Request a service">Request a service</option>
                        <option value="Incidence to IT department">Incidence to IT department</option>
                    </select>
                    <textarea name="formalitybody" id="formalitybody" [(ngModel)]="formalitybody" cols="30"
                        rows="10" placeholder="Type your formality body here..." required></textarea>

                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="primary"  data-bs-dismiss="modal" (click)="saveFormality()">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<p [(ngModel)]="respuesta"></p>