<section>
    <div class="container">
        <div class="user signinBx">
            <div class="imgBx"><img
                    src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img1.jpg"
                    alt="" /></div>
            <div class="formBx">
                <app-login></app-login>
            </div>
        </div>
        <div class="user signupBx">
            <div class="formBx">
                <app-register></app-register>
            </div>
            <div class="imgBx"><img
                    src="https://raw.githubusercontent.com/WoojinFive/CSS_Playground/master/Responsive%20Login%20and%20Registration%20Form/img2.jpg"
                    alt="" /></div>
        </div>
    </div>
</section>